*{
    color:rgb(0, 102, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.chapter-1{
    font-size:50px;
}

/* the above is parent, so the following font-size is 50% of the 50px */
.chapter-1 p{
    font-size:50%;
}

.fw-bold{
    font-weight:bold;
}

.fw-normal{
    font-weight:normal;
}

.fw-lighter{
    font-weight:lighter;
}

.fw-700{
    font-weight: 700;
}

.fw-900{
    font-weight: 900;
}

.fs-normal{
    font-style:normal;
}

.fs-italic{
    font-style: italic;
}

.fs-oblique{
    font-style: oblique;
}

.text-transform-uppercase{
    text-transform: uppercase;
}

.text-transform-lowercase{
    text-transform: lowercase;
}

.text-transform-capitalize{
    text-transform: capitalize;
}

.text-decoration-overline{
    text-decoration: overline;
}

.text-decoration-underline{
    text-decoration: underline;
}

.text-decoration-line-through{
    text-decoration: line-through;
}

.text-decoration-none{
    text-decoration: none;
}

.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

/* horizontal-distance(can be negative) vertical-distance(can be negative) blurradius color */
.text-shadow-darkred{
    text-shadow: -10px -5px 10px darkred;
}

.text-inedent-25px{
    text-indent: 25px;
}

.text-indent-25-percent{
    text-indent: 25%;
}

/* em relates default font size ex. p=16px=1em */
.text-indent-5em{
    text-indent: 5em;
}

.letter-spacing-10px{
    letter-spacing: 10px;
}

.letter-spacing-15px{
    letter-spacing: 15px;
}

.letter-spacing-20px{
    letter-spacing: 20px;
}

.word-spacing-10px{
    word-spacing: 10px;
}

.word-spacing-15px{
    word-spacing: 15px;
}

.word-spacing-20px{
    word-spacing: 20px;
}